<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppId" value="4950012c-24bc-46fd-a95e-6bcbfea1a0b7" />
    <add key="ThumbPrint" value="54A765E9CA380A0F9F5556FF4D1FE253933CE479" />
    <add key="Authority" value="https://login.windows.net/beb8e791-1d2d-4c4f-b7ab-8e305a3013ac" />
    <add key="Url" value="https://M365x013432.sharepoint.com/.default" />
    <add key="FilePath" value="C:\Users\Alessio\Documents\Alessio.txt" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>